* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Chamando a Fonte */
  font-family: "Ubuntu", sans-serif;
  font-size: 0.85rem;

  /* Bordas View */
  /* border: solid 1px blue; */
}

/* Layout App */
.container-pai {
  width: 200px;
  height: 200px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

/* Configurações dos Botões */
.container-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px;
  margin-top: 5px;
  width: 100%;
}

.btn {
  flex: 1 1 45%;
  border: 1px solid #333;
  border-radius: 3px;
  padding: 2px 0;
  font-size: 0.7rem;
  cursor: pointer;
  background: #eee;
  transition: 0.2s;
}

.btn:hover {
  background: #ddd;
}

/* Desafio */
/* Cabeçalho */
.cabecalho {
  display: flex;
  align-items: end;
  gap: 7px;
  padding: 7px;
}

.cabecalho h1 {
  font-size: 13px;
}

/*Entrada de Dados*/
.input-text {
  width: 167px;
  padding: 2px 3px;
}

/* Resultado */
.result {
  resize: none;
  width: 185px;
  padding: 3px 0px 40px 5px;
  margin-top: 5px;
}

/* Rodapé */
.rodape {
  margin-top: 5px;
  text-align: center;
}
